<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WpfApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="fwqdz" value="."/>
    <add key="sjkmc" value="hbposv8"/>
    <add key="sjkyhm" value="sa"/>
    <add key="sjkmm" value="123456"/>

    <add key="licensekey" value="1"/>
    <add key="mallid" value="1"/>
    <add key="username" value="01L501N01"/>
    <add key="password" value="0000"/>
    <add key="storecode" value="01L501N01"/>
    <add key="sjjg" value="30"/>
    <add key="address" value="http://202.105.118.99:8090/TTPOS/sales.asmx"/>
    <!--标识-->
    <add key="com_no" value="0"/>
    <!--货号-->
    <add key="item_no" value="01L501N011"/>
    <add key="no" value="0"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="salesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://202.105.118.99:8090/TTPOS/sales.asmx"
          binding="basicHttpBinding" bindingConfiguration="salesSoap"
          contract="ServiceReference1.salesSoap" name="salesSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WpfApp1.Properties.Settings>
      <setting name="DbConnStr" serializeAs="String">
        <value>data source=NUWIN;initial catalog=hbposv8;uid=sa;pwd=nuwin;</value>
      </setting>
    </WpfApp1.Properties.Settings>
  </applicationSettings>
</configuration>