<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="licensekey" value="1"/>
    <add key="username" value="1"/>
    <add key="password" value="1"/>
    <add key="mallid" value="1"/>
    <add key="storecode" value="1"/>
    <add key="com_no" value="9"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="salesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://202.105.118.99:8090/TTPOS/sales.asmx"
          binding="basicHttpBinding" bindingConfiguration="salesSoap"
          contract="ServiceReference1.salesSoap" name="salesSoap" />
    </client>
  </system.serviceModel>
</configuration>